Librarian/todos.cpp
Librarian/Ignore/
build/
bin/

.vs/
*.user
*.suo
*.sln.doccache

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

*.obj
*.lib
*.exp
*.dll
*.pdb
*.ilk
*.idb
*.aps
*.res
*.pch
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.iobj
*.ipdb

*.log
*.database
*.opendb
*.db
*.sqliteno-wal
*.sqlite-shm